body {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#speech-size {
    display: block;
    text-align: center;
}

.options {
    margin-top: 10px;
    display: flex;
}